html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quintessential', sans-serif;
    background-color: rgb(60, 144, 165);
    color: rgb(192, 219, 238);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
